{% extends "layout.html" %}
{% load static %}
{% block body %}

<section id="banner">
    <h1><span class="typed-text"></span><span class="cursor">&nbsp;</span></h1>
</section>
<h1 class="center">Popular Articles</h1>
<section id="features">
    {% for article in Articles %}
    <a href="articleView/{{article.id}}" style="text-decoration: none;" aria-label="view the article">
        <div class="box-front" id="box-{{article.id}}">
            <img src="{{article.thumbnail.url}}" alt="computer lab">
            <h1>{{article.title}}</h1>
            <p>{{article.cardText|truncatechars:298}}</p>
            <a href="articleView/{{article.id}}" style="text-decoration:none;">
                <button class="btn btn-primary" type="button">Read</button>
            </a>
        </div>
    </a>
    {% endfor %}
</section>
<div class="container-btn">
    <a href="/articlehub">
        <button class="submit-btn" type="button" style="margin-bottom: 1rem;">More Articles</button>
    </a>
</div>
<section id="features">
    {% for video in Videos %}
        <div class="box-front" id="video_box-{{video.id}}" style="border-radius: 20px;">
            <div class="iframe-container">
                {{video.video_link|safe}}
            </div>
            <h2>{{video.title|truncatechars:23}}</h2>
        </div>
    {% endfor %}
</section>
<div class="container-btn">
    <a href="https://www.youtube.com/channel/UCHqlVmCfpBoOcf92AbenDiQ">
        <button class="submit-btn" type="button" style="margin-bottom: 1rem;">More Videos</button>
    </a>
</div>
<section class="contact">
    <div class="formwebsite">
        <form action="/contact" method="POST" id="form">{% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter your name" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <label for="message">Query:</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Type your query here"
                required></textarea>
            <div class="container-btn">
                <!-- <a class="submit-btn" onclick="submit()">submit</a> -->
                <button class="submit-btn" type="submit">submit</button>
            </div>
        </form>
    </div>
</section>
<footer>
    Copyright &copy; 2022 Himaloy Mondal
</footer>
{% endblock body %}
{% block script %}
<script src="{% static 'js/typing.js' %}" type="application/javascript"></script>
{% endblock script %}