{% extends "admin/base.html" %}
{% load static %}
{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <style>
        .help {
            font-size: 15px !important;
            margin-top: 12px !important;
            background-color: #ff6618 !important;
            color: black !important;
            width: 15% !important;
            text-align: center !important;
            padding: 5px !important;
        }
    </style>
{% endblock %}